body{
    font-family:sans-serif;
}
/* navigation styling stars here */
.navbar{
    
}
.logo{
    width: 100%;
    height:auto;
    margin-left: 0.3em;
    
}
.navbar{
    background-color: rgb(255, 255, 255);
    
    
}
/* navigation bar toggler styling */

/* hamburger menu */
.navbar-toggler-icon{
    background-image: url('images/hambuger-menu.PNG');
}

  
/* styling the navigation bar that holds all the items */


.navbar-nav{
    margin:auto;
    
    
     
}
.nav-item{
    font-size:0.9em;
    padding:0.5em;
}

.dropdown-menu{
padding: 1.5em 2.5em 2em 2em;
box-shadow: #d2cccc;
margin-top:8em;
border-top: 1px solid rgba(00,0,255);

}
.module-title{
 font-size:0.9rem;
 border-bottom: 2px solid rgb(142, 138, 138);
 padding-bottom: 1em;
}
.dropdown-item{
    font-size: 0.85em;
    border-bottom: 2px solid rgb(142, 138, 138);
    padding-top: 0.9em;
   
    }
   
.apply-btn{
    font-size:0.9em;
    padding:0.2em;
}



/* navigation styling ends here */

.hero{
    

    background: -webkit-linear-gradient(rgba(29, 38, 113, 0.8), rgba(195, 55, 100, 0.5)),url('images/heroimageHackReactor.jpg');
    background: linear-gradient(rgba(29, 38, 113, 0.8), rgba(195, 55, 100, 0.5)),url('images/heroimageHackReactor.jpg');
    background-position:center center;
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height:100vh;

    
 }
 .main-title{
     padding: 3em;
     line-height: 1.5em;
     
 }
 .sub-title{
     padding:0.2em;
     margin-top: -5em;
     font-size:1.2em;
 }
 .d-grid{
     margin-top: 4em;
     
 }
 
 .apply-btn{
     padding: 0.3em;
 }
 /* rating section */
 .rating{
     background:rgb(216, 216, 216);
     font:0.5em;
     border-bottom: 5px solid rgb(0, 144, 217);
 }
 .container-switch{
     margin:1.2em;
     font-size:0.7em;
    text-align:center;

 }
 /* rating section ends here */
 /* container area section */
 .container-announcement{

 background-color:#6d7278;
 

}
.subsection-title{
    padding:1em;
    font-size:1.5em;
    color:rgba(255,255,255);
    font-weight:bolder;
    text-align:center;
}
.information{
    margin: 0.7em;
    padding: 0.5em;
    color:rgba(255,255,255);
    text-align:center;
}


.learnmore-btn{
     margin-bottom: 1em;
}
 /* jumbotron section ends here */

 /* graduants-workplaces section */
 .graduants-workplaces,.graduants-title, .quotation{
     text-align:center;
     
 }
 .company-logo{
     margin:0.6em;
     padding:0.6em;
 }

 /*graduants-workplaces section ends here  */

 /* about-title ends here*/

 .about-title{
      margin:1em;
      text-align: center;

 }
 
    
 
 .about-bootcamp{
     font-size:0.95em;
     margin:0.2em;
     text-align:left;
     line-height: 1.8em;

 }
 /* bootcamp section */
 .bootcamp-section{
     text-align: center;
     margin: 3em;
 }
 /* bootcamp section ends here */

 .card{
     max-width:18em;
     height: auto;
 }
 

 
 
 /* about title section ends here */