body{
    font-family:sans-serif;
}
/* navigation styling stars here */
.logo{
    width: 100%;
    height:auto;
    
}
.navbar{
    background-color: #ffffff;
    font-size: 0.85em;
    
}
/* navigation bar toggler styling */

/* hamburger menu */
.navbar-toggler-icon{
    background-image: url('images/hambuger-menu.PNG');
}

  
/* styling the navigation bar that holds all the items */


.navbar-nav{
    margin:auto;
    
    
     
}
.nav-item{
    font-size:0.9em;
    padding:0.5em;
}


/* navigation styling ends here */

